@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-dark: #1f2937;
    --primary-light: #f9fafb;
    --accent-secondary: #e5e7eb;
    --accent-main: #0ea5e9;
    font-family: "Roboto", sans-serif;
    font-size: clamp(1rem, calc(0.5rem + 0.5vw), 1.75rem);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    color: var(--primary-dark);
}

body {
    background-color: var(--primary-light);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

header {
    cursor: default;
    height: 2rem;
    border-bottom: 2px solid var(--accent-secondary);
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer {
    height: 2rem;
    border-top: 2px solid var(--accent-secondary);
    padding-top: 0.75rem;
    text-align: center;
}

/* Body styling */
#main {
    display: grid;
    grid-template-columns: .25fr 2fr;
}

#sidebar {
    height: auto;
    max-height: 820px;
    width: 13rem;
    padding: 2rem;
    border-right: 2px solid var(--accent-secondary);
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

#navLists,
#userLists,
#listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

#content {
    padding: 2rem 7rem;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.borderButton {
    cursor: pointer;
    height: 3rem;
    width: max-content;
    border: none;
    border-radius: 1rem;
    padding: 0 1.5rem;
    background-color: var(--accent-main);
    font-size: 1rem;
    transition: .25s;
}

.textButton {
    cursor: pointer;
    height: 2rem;
    border: none;
    background-color: var(--primary-light);
    font-size: 1.25rem;
    transition: .25s;
}

.borderButton:hover,
.textButton:hover {
    transform: scale(1.05);
}

.delete {
    color: #dc2626;
    font-size: 1rem;
}

.submit {
    font-size: 1rem;
}


/* TaskCard styling */

#taskCardContainer {
    max-width: 25rem;
    min-height: 675px;
    border: 2px solid var(--accent-secondary);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.listInfo {
    max-width: 20rem;
    border: none;
    background-color: var(--primary-light);
    font-size: 2.5rem;
    font-weight: 700;
}

#listDescription {
    font-size: 1.5rem;
}

.buttonContainer {
    margin-top: auto;
    width: 25rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

#taskContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.taskBox {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkbox {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
    border: 1px solid var(--primary-dark);
    border-radius: 5px;
    background-color: var(--primary-light);
    transform: translateY(-0.075rem);
    display: grid;
    place-content: center;
}

.checkbox::after {
    content: "";
    height: 0.65rem;
    width: 0.65rem;
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms ease-in-out;
    box-shadow: inset 1rem 1rem var(--primary-dark);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked::after {
    transform: scale(1);
}

.smaller {
    width: 1rem;
    height: 1rem;
}

.taskText {
    width: 20rem;
    overflow: hidden;
    font-size: 1.25rem;
    transition: .25s;
}

.taskText:hover {
    transform: scale(1.015);
}

#quickAddBar {
    margin-top: auto;
    display: flex;
}

#quickAddTask {
    height: 3.15rem;
    width: 18rem;
    border: 0.5px solid var(--accent-secondary);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 0 1rem;
}

#submitQuickAdd {
    cursor: pointer;
    height: 3.2rem;
    width: 5rem;
    border: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--accent-main);
    transition: .25s;
}

#submitQuickAdd:hover {
    transform: scale(1.05);
}


/* EditorCard styling */
#editorCardContainer {
    cursor: default;
    max-width: 25rem;
    min-height: 675px;
    border: 2px solid var(--accent-secondary);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#editorForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#currentTask {
    max-width: 20rem;
    border: none;
    background-color: var(--primary-light);
    font-size: 1.5rem;
    font-weight: 700;
}

#priorityContainer {
    display: flex;
    gap: 2.5rem;
}

.priority {
    cursor: pointer;
    height: 2.5rem;
    width: 5rem;
    border: none;
    border-radius: 5rem;
    font-size: 0.8rem;
    transition: .25s;
}

.priority:hover {
    transform: scale(1.2);
}

.clicked {
    transform: scale(1.2);
}

.critical {
    background-color: #fda4af;
}

.important {
    background-color: #fcd34d;
}

.low {
    background-color: #6ee7b7 ;
}

.editOption {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#dueDate,
#listDropdown {
    cursor: pointer;
    height: 2rem;
    width: 12.5rem;
    border: 1px solid var(--primary-dark);
    border-radius: 0.35rem;
    padding-inline: .5rem;
    background-color: var(--primary-light);
    font-size: 0.85rem;
    transition: .25s;
}

#dueDate:hover,
#listDropdown:hover {
    transform: scale(1.015);
}

#subtaskContainer {
    margin-top: .25rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

#createSubtaskButton {
    margin: 0 0 0 1rem;
    font-size: 1rem;
    align-self: flex-start;
}

.subtaskBox {
    cursor: pointer;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.subtaskText {
    width: 15rem;
    border: none;
    background-color: var(--primary-light);
    font-size: 1rem;
}

#notes {
    height: 5rem;
    width: 20rem;
    border: 1px solid var(--primary-dark);
    border-radius: 0.35rem;
    padding: 0.5rem;
    background-color: var(--primary-light);
    resize: none;
    transition: .25s;
}

#notes:hover {
    transform: scale(1.01) ;
}

#deleteTask:hover,
#submitTask:hover {
    transform: scale(1.1);
}